<div class="position-sticky top-0  " style="z-index: 10;min-height: 12vh!important;">
    <div class="">
        <nav class="navbar  text-dark px-4 ">
            <button class="btn bg-body-secondary buton-class" (click)="themeChange($event)">|||</button>

        </nav>
        <div class=" position-relative ">
            <div class=" p-4 bg-secondary-subtle d-block d-md-none links-header d-none">
                <ul class="text-decoration-line-none d-flex gap-2 list-unstyled flex-column ul">
                    <li class="border p-1 ">
                        <a href="#about-me">about</a>
                    </li>
                    <li><a href="#work">work</a></li>
                    <li><a href="#resume">resume</a></li>
                    <li><a href="#contact">contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>