.link-icons {
    text-transform: capitalize;
    font-size: 14px !important;
    transition: .5s all;
    color: black;

}

.transform-control {
    background-color: wheat;
    transition: .5s all;

}

.transform-control a {
    transform: translateY(-15px);
    color: rgb(17, 69, 180) !important;

}

.link-icons:hover {

    transform: scale(1.2) translateY(-10px);
}

@media screen {}