<div class="app-body h-100 ">
  <header>
    <app-header></app-header>
  </header>
  <section class="row w-100  m-0 justify-content-evenly  text-center content-page pt-3 gap-md-1 gap-4">
    <div class="col-md-3 px-5 h-auto">
      <div class="p-md-0 ">
        <app-side-left></app-side-left>
      </div>
    </div>
    <div class="col-md-7 h-auto ">
      <div class="p-3  rounded-4 bg-white">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="col-md-1 d-md-block  order-md-0  order-first  " style="min-width: 100px;">
      <app-side-right></app-side-right>
    </div>

  </section>
</div>