img {
    background: red !important;
    border-radius: 30px;
    filter: drop-shadow(10px 5px 10px orange) !important;
}

.home {
    min-height: 100%;
}

.box {
    width: 200px;
    height: 100px;
    background-color: #f0f0f0;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.hide {
    opacity: 0;
}

p {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;

    position: relative;

    span {
        font: 700 1.3em/1 "Oswald", sans-serif;
        letter-spacing: 2;
        /* padding: .25em 0 .325em; */
        display: block;
        margin: 0 auto;
        text-shadow: 0 0 80px rgba(255, 255, 255, .5);

        /* Clip Background Image */

        background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
        -webkit-background-clip: text;
        background-clip: text;

        /* Animate Background Image */

        -webkit-text-fill-color: transparent;
        -webkit-animation: aitf 80s linear infinite;

        /* Activate hardware acceleration for smoother animations */

        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;

    }
}

/* Animate Background Image */

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;

    }

    100% {
        background-position: 100% 50%;

    }
}

/* about me section */
.about-section {
    padding: 0 5%;
}

.about-section p {
    letter-spacing: 1px;
    font-size: 110%;
    text-align: justify;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}