img {
    background: red !important;
    border-radius: 30px;
    filter: drop-shadow(10px 5px 10px orange) !important;
}

.home {
    min-height: 100%;
}

.box {
    width: 200px;
    height: 100px;
    background-color: #f0f0f0;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.hide {
    opacity: 0;
}




/* about me section */
.about-section {
    padding: 0 5%;
}

.about-section p {
    letter-spacing: 1px;
    font-size: 110%;
    text-align: justify;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}