<app-header-sub-pages headerTitle="work"></app-header-sub-pages>
<div class="d-flex  mt-3 h-auto  flex-wrap justify-content-between ">
    @for (item of work; track $index) {

    <div class="col-12 col-md-6 p-2 overflow-hidden">
        <div class="text-start h-auto  border rounded-4 overflow-hidden position-relative  pointer-event">
            <div class="bg-body-secondary ">
                <h4 class="text-capitalize p-2 d-flex justify-content-between ">

                    <a [href]="item.urls.demo" class="fw-bold ">{{item.name}} </a>
                    <a [href]="item.urls.github">
                        <i class="fa fab fa-github-square"></i>
                    </a>
                </h4>
            </div>
            <div class="w-100 d-flex overflow-x-scroll ">
                @for (img of item.images; track $index) {
                <img [src]="img" class="w-100 img-fluid " alt="image project">
                }
            </div>
            <div class="w-100 px-2 ">
                <p>
                    {{item.description}}
                </p>
            </div>
            <!-- <div class="position-absolute top-0 p-2 pe-5   d-flex justify-content-end w-100 ">
                <a [href]="item.urls.demo" class="fw-bold ">-></a>
            </div> -->
            <!-- <div class="p-2 pb-0  justify-content-between  d-flex "> -->
            <!-- <div class="d-flex gap-1  w-100 fs-3 ">
                    @for (tool of item.tools; track $index) {
                    <p>
                        <i [ngClass]="tool"></i>
                    </p>
                    }

                </div> -->
            <!-- <a [href]="item.urls.github" target="_blank" class="text-black icon-github  rounded-circle  ">
                    <i class="fw-bold fs-2 fa fa-github m-1 "></i>
                </a> -->

            <!-- </div> -->
        </div>
    </div>
    }
</div>